@use 'variables' as *;
@use 'mixins' as *;

.contact-section {
    text-align: center;

    h1 {
        font-size: 3rem;
    }
    
    @include mq('l') {
        font-size: 4rem;
        h1 {
            font-size: 5rem;
        }
    }
}

#contact {
    position: relative;
    padding-bottom: 40px; 
}

.facebook {
    background-color: $color-french-gray;
    padding: 1rem;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: .1px;
    font-size: 1.4rem;
    color: #333;

    @include mq('s') {
        font-size: 2rem;
    }

    @include mq('m') {
        font-size: 3rem;
    }
}

.facebook a {
    text-decoration: none;
}
