$color-navy: #1E2A38;
$color-navy-alpha: #1e2a38bc;
$color-navy-alpha2: #1e2a38e0;
$color-beige: #EDE0D4;
$color-terracotta: #E07A5F;
$color-mint: #BFD3C1;

$color-french-gray: #BBC2C6ff;
$color-darker-white: #EFEBE6ff;
$color-olive-green: #B8AC5Bff;
$color-brown: #7B6A51ff;
$field-dark-green: #746538ff;